// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here 在此处设置页脚的固定高度 */
    heigth: 60px;
    background-color: #ffffff;
    border-top: 1px solid #e2e7ea;
    .container {
        padding-right: 15px;
        padding-left: 15px;
        p {
            margin: 19px 0;
            color: #182730;
            a {
                color: inherit;
            }
        }
    }
}

// 用户头像
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #0d6aad;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #ffffff;
}

// 考场logo
.exam-room-avatar {
    width: 60px;
    height: 40px;
    border-radius: 6px;
    background-color: #0d6aad;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #ffffff;
}

.exam_room-index-page {
    a {
        text-decoration: none
    }
}

// 考试界面样式&错题集界面样式
.paper-show-page, .exam_room-exam-page, .score-show-error_collection-page {
    pre {
        font-size: 100%!important;
        font-family: "Nunito", sans-serif!important;
    }
    .question {
        .panel-body {
            ol {
                li {
                    margin-top: 20px;
                    .form-check {
                        margin: 10px 20px 0 0;
                    }
                    .answer {
                        margin-top: 10px;
                        textarea {
                            height: 150px;
                        }
                    }
                }
            }
        }
    }
    .fixbar {    // 悬浮按钮
        position: fixed;
        right: 30px;
        bottom: 40px;
        z-index: 1;
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        li {
            width: 50px;
            height: 50px;
            line-height: 50px;
            margin-bottom: 1px;
            text-align: center;
            cursor: pointer;
            font-size: 30px;
            background-color: #9F9F9F;
            color: #fff;
            border-radius: 2px;
            opacity: .95;
            list-style-type: none;
        }
    }
}

.score-show-error_collection-page {
    .error-collection {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 8px;
        .error-collection-title {
            margin-right: 20px;
            height: 40px;
            line-height: 40px;
        }
        .error-collection-content {
            height: 40px;
            line-height: 40px;
            .form-check {
                margin-top: 0px !important;
            }
        }
    }
    .error-collection-color-false {
        background-color: #ffd2ad;
    }
    .error-collection-color-true {
        background-color: #ddffb9;
    }
    .error-collection-color-memo {
        background-color: #fffdba;
    }
    .error-collection-memo {
        align-items: flex-start;
        height: 120px !important;
    }
}

// 文档界面样式
.article_dir-index-page {
    .tab-content {
        margin-bottom: 20px!important;
        .book {
            .tt-item {
                padding-top: 15px!important;
                padding-bottom: 15px!important;
                .innerwrapper {
                    .cover{
                        background-color: #fffacc;
                        width: 100%;
                        height: 250px;
                        -webkit-box-shadow:5px 5px 5px #888888; /*老的For Chrome5+, Safari5+*/
                        -moz-box-shadow: 5px 5px 5px #888888; /* 老的 firefox */
                        box-shadow: 5px 5px 5px #888888;
                        .cover-title {
                            padding: 10px 10px 10px 10px;
                        }
                    }
                }
                .tt-item-header {
                    margin-top: 10px;
                    height: 40px;
                    line-height: 40px;
                    display: flex;
                    padding-bottom: unset;
                }
            }
        }
        a {
            text-decoration: none;
        }
        .book-pagination {
            margin-top: 10px;
            margin-bottom: 20px;
            height: 20px;
            width: 100%;
            position: relative;
            div {
                position: absolute;
                right: 20px;
            }
        }
    }
}

// 文档显示界面
.article-show-page {
    .layui-tree-icon {
        height: 14px!important;
        line-height: 11.5px!important;
        width: 14px!important;
        text-align: center!important;
        border: 1px solid #c0c4cc!important;
        left: 2px!important;
        margin-bottom: 3px!important;
    }
    .demo-tree {
        width: 230px;
        height: 300px;
    }
    .layui-tree-entry {
        height: 23px!important;
    }
    .tt-tab-wrapper {
        padding-bottom: 40px;
    }
}

